.DS_Store

git/.gitconfig-*

helix/runtime
helix/grammars
helix/themes

jj/repos

nushell/history.sqlite3*
nushell/plugin.msgpackz
nushell/autoload/ignored.nu

raycast/extensions

zed/embeddings
zed/prompts
zed/*.tmp*
