.DS_Store

git/.gitconfig-*

helix/runtime
helix/grammars
helix/themes

jj/repos

nushell/history.txt
nushell/history.sqlite3*
nushell/plugin.msgpackz
# This is a hidden file containing client/device specific aliases/etc
# The alternative to this is a private repo but that still requires
# things leaving the machine
nushell/autoload/private.nu

raycast/extensions

zed/embeddings
zed/prompts
zed/*.tmp*
